@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Nunito:wght@300;400;500&display=swap");

:root {
  --body-font: "Montserrat";
  --title-font: "Nunito";
  --transition: 0.2s ease;
  --bg: #e91e63;
}
* {
  line-height: 1.9em;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  box-sizing: border-box;
}
body {
  background-color: #f3f5f8;
}
.full-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -0.4rem;
}
small {
  font-family: var(--body-font);
  font-size: 0.7rem;
}
p,
label {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.followers {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-bottom: 0.3rem;
}

.badge {
  font-size: 0.7rem;
  font-family: var(--title-font);
  font-weight: 400;
}

.tweets-wrapper .card {
  transition: var(--transition);
}
.tweets-wrapper .card:hover {
  scale: (1.1, 1.1);
}
.tweets-wrapper .username {
  font-size: 0.7rem;
  font-weight: bold;
}
.tweets-wrapper .content {
  font-size: 0.9rem;
  font-family: var(--title-font);
}
